* {
	margin: 0;
	padding: 0;
	
	box-sizing: border-box;
}
.main-container {
	height: 100vh;
	width: 100vw;

	background-color: black;

	padding: 5vh 0;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	justify-content: space-around;
}
.constructed-room {
	width: 95vh;/*60vw*/
	height: 95vh;

	/*outline: solid blue 1px;*/

	display: grid;
	/*grid-template-rows:repeat(24,1fr);*/
	/*grid-template-columns:repeat(24,1fr);*/
	/*z-index: ;*/
}
.character-room {
	/*grid-area: 9/9/17/17;*/
	
	border: solid white 1px; 
	background-color: black;
	z-index: 1;
}
.character {
	/*grid-area: 9/9/11/11;*/
	z-index: 999;

	background-color: brown;
	filter: brightness(200%);
}
.shadow {
	/*grid-area: 1/1/19/19;*/

	background-color: unset;
	/*opacity: 0.1;*/
	
	z-index: 1;
	
	
	display: grid;
	grid-template-rows:repeat(18,1fr);
	grid-template-columns:repeat(18,1fr);
	
}

.shadow-bit {
	grid-area: 1/1/3/3;
	background-color: lightgrey;
	/*border: solid 0.5px black;*/
	opacity: 0.5;
	z-index: 1;
}

.hides-shadow {

	background-color:black;	/*igual al fondo*/
	/*opacity: 0.2;*/
	z-index: 999;
}
.door {
	background-color: orange;
	z-index: 999;

}
.object {
	grid-area: 15/15/17/17;
	background-color: blue;

	z-index: 0;
}
