* {
	margin: 0;
	padding: 0;
	
	box-sizing: border-box;
}
.main-container {
	height: 100vh;
	width: 100vw;

	background-color: black;

	padding: 5vh 0;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	justify-content: space-around;
}
.current-room {
	width: 40vw;
	height: 40vw;

	outline: solid white 1px;

	display: grid;
	grid-template-rows: repeat(24,1fr);
	grid-template-columns: repeat(24,1fr);
}
.shadows {
	background-color: white;
}
.shadow-3 {
	grid-area: 1/1/19/19;

	opacity: 0.05;
}
.shadow-2 {
	grid-area: 2/2/18/18;
	
	opacity: 0.1;
}
.shadow-1 {
	grid-area: 3/3/17/17;
	
	opacity: 0.1;
}
.shadow-0 {
	grid-area: 5/5/15/15;
	
	opacity: 0.4;
}
.character {
	grid-area: 9/9/11/11;
	z-index: 5;

	background-color: lightgrey;
	filter: brightness(200%);
}


/*
.next-room {
	width: 20vw;
	height: 20vw;

	outline: solid white 1px;
}
*/

